body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }
  
  #mySidenav a {
    position: absolute;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    right: 0;
  }
  
  
  #blog {
    top: 80px;
    background-color: #191a20;
  }
  
  #projects {
    top: 140px;
    background-color: #2832c4;
  }
  
  .container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
  }
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(132deg,#CC7859,#919243);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    padding:0;
    margin:0px;
  
  }
  
  .fonts{
    color:white;
  }
  a{
    position:center;
    color:white;
  }
  

  
  /* navbar */
  nav{
    color: black;
    float: right;
    margin:30px 90px;
  }
  nav ul{
    transition-delay: 2s;
  }
  nav ul li {
    float: left;
    transition: .3s;
  }
  nav ul li a{
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
    margin-left:16px;
  }
  nav ul li:hover a{
      
      color: white;
      padding-top: 30px;
      margin-top: -30px;
  }
  
  
  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  